/* ==========================================================================
   Author's custom styles
   ========================================================================== */


ul#images li {
    width: 200px;
    height: 325px;
    display: inline-block;
    position: relative;
    float: left;
    margin: 5px;
    padding: 2px;
    border: 1px solid black;
    
}

ul#images li .image-pic-wrapper{
    height:205px;  
    overflow:hidden;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
}

ul#images li button {
    display: inline-block;
}

ul#images {
    list-style-type: none;
}
ul#images li p {
    font-size: small;
    text-overflow: ellipsis;
    max-width: 190px;
    overflow: hidden;
    white-space: nowrap;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    border: none;
    margin: 0;
    text-align: center;
    padding-top: 50px;
}

ul#images .img-heading {
    font-weight:bold;
}
.modal-body img {
    width: 100%;
    height: auto;
}

hr {
    clear:both;
}

#images li.placeholder {
    border: none;
    margin: 0;
    text-align: center;
    padding-top: 50px;
    
    
}

div h1.search-title {
    text-align: center;
    padding-top: 50px;
}










